#OS junk files
[Tt]humbs.db
*.DS_Store

bin/
target/
release.properties
buildNumber.properties
.mvn/timing.properties
.settings/
felix-cache
cishell/plugins/
.factorypath
.classpath
.idea
.project/

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
